.mySlides {display: none;}
img {vertical-align: middle;}

/* advertisement */
.advertisement {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: auto;
  top:80px;
}


/* The dots/bullets/indicators */
