body
{
    margin:0;
    max-height: 100%;
}
.dropdown-menu
{
    background-color: #08AFFC;
     background-image: url(https://i.pinimg.com/originals/f0/79/80/f07980d6b7cdb5655e2d19cf4e0b52df.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.dropdown-menu a:hover
{
    color:#08AFFC;
}
.dropdown-item
{
    text-align: center;
    font-size: 28px;
}
.dropdown-item:hover
{
    color:#08AFFC;
}
.susano  {
    position: fixed;
    bottom:2%;
    left:93%;  }
h3
{
    color:red;
    font-size: 50px;
    text-align: center;
}
.w3-container
{
    position: absolute;
    top:350%;
}

.contents-area
{
    border-top: 3px solid #ddd;
    border-bottom: 3px solid #ddd;
}

.mainthird
{
    width: 33%;
    float: left;
}
.mainfirst
{
    width: 34%;
    float: left;
}
.mainsecond
{
    width: 33%;
    float: left;
}
.group:before,
.group:after{
    content: "";
    display: table;
}
.group:after{
    clear: both;
}
.group{
    zoom:   1;
}

.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.7;
    overflow-x: hidden;
    transition: 1.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav2 a {
    position: relative;
    top:50px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav2 a:hover{
    color: #f1f1f1;
  }
  
  .sidenav2 .closebtn2 {
    position: absolute;
    top:10%;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav2 {padding-top: 15px;}
    .sidenav2 a {font-size: 18px;}
  }
  .formtype:hover
  {
    font-size: 26px;
      color:#f1f1f1;
      
  }
  .sidenav2 li a 
  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    
    transition: 0.3s;
  }